// Atoms

// Buttons
button, .button {
	@include transition(background, 0.2s);
	@extend .padding-top-10;
	@extend .padding-bottom-10;
	@extend .padding-left-20;
	@extend .padding-right-20;
	@extend .display-inline-block;
	@extend .background-yellow;
	@extend .text-white;
	font-family: $headercopy;
	font-weight: bold;
	font-size: 0.8125rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;

	&.small {
		@extend .padding-top-5;
		@extend .padding-bottom-5;
		@extend .padding-left-10;
		@extend .padding-right-10;
	}

	&.tiny {
		@extend .padding-0;
		@extend .padding-left-10;
		@extend .padding-right-10;
		font-size: 80%;
	}

	&.full {
		@extend .display-block;
		@extend .text-center;
	}

	&:hover, &:focus {
		@extend .text-white;
		background: $yellow + 20;
	}

	&.error {
		@extend .background-error;
		&:hover, &:focus { background: $error + 20;}
	}

	&.warning {
		@extend .background-warning;
		&:hover, &:focus { background: $warning + 20;}
	}

	&.success {
		@extend .background-success;
		&:hover, &:focus { background: $success + 20;}
	}

	&.neutral {
		@extend .background-neutral;
		&:hover, &:focus { background: $neutral + 20;}
	}

	&.disabled {
		cursor: default;
		@extend .background-disabled;
		&:hover, &:focus { background: $ash;}
	}

	&.white {
		@extend .background-white;
		@extend .text-neutral;
		border: 1px solid $ash;
		&:hover, &:focus {
			@extend .background-white;
			@extend .text-neutral;
			border: 1px solid $neutral;
		}
	}
}





// Button Groups

.button-group {
	padding: 10px 0;
	button, .button {
		margin-right: -6px;
		&.white:hover, &.white:focus {
			@extend .background-subtle;
			border-color: $ash;
		}
	}
}





// Dropdowns

.dropdown {
	@extend .display-inline-block;
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 3;
	float: left;
	list-style: none;
	margin: 2px 0;
	padding: 0;
	background: $white;
	border: 1px solid $subtle;
	min-width: 140px;
	text-align: left;
	font-family: $headercopy;
	text-transform: uppercase;
	font-size: 0.8125rem;
	letter-spacing: 0.1em;
	a {
		@extend .display-block;
		@extend .padding-10;
		@extend .text-darkgray;
		border-bottom: 1px solid $subtle;
		&:hover, &:focus {
			@extend .background-subtle;
			@extend .text-darkgray;
		}
		&.active, &:active {
			@extend .background-yellow;
			@extend .text-white;
		}
	}
	&.small a { font-size: 0.8rem; }
}





// Label Pills

.label-pill {
	@include transition(background, 0.2s);
	@extend .display-inline-block;
	@extend .background-ash;
	@extend .text-white;
	@extend .border-radius;
	font-size: 0.625rem;
	padding: 3px 5px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	&:before {
		content: "\25CF";
		font-size: 0.825rem;
		padding-right: 5px;
	}
	&.success { @extend .background-green; }
	&.warning { @extend .background-orange; }
	&.error { @extend .background-red; }
	&.hollow {
		@extend .background-white;
		@extend .text-darkgray;
		border: 1px solid $darkgray;
		&.success {
			@extend .background-white;
			@extend .text-green;
			border: 1px solid $green;
		}
		&.warning {
			@extend .background-white;
			@extend .text-orange;
			border: 1px solid $orange;
		}
		&.error {
			@extend .background-white;
			@extend .text-red;
			border: 1px solid $red;
		}
	}
}
