/node_modules
/public/storage
/public/users
/public/contests
/temp
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
phpmyadmin

.DS_Store
app/.DS_Store
app/Http/.DS_Store
bootstrap/.DS_Store
public/.DS_Store
public/images/.DS_Store
public/static/css/.DS_Store
public/static/js/.DS_Store
resources/.DS_Store
resources/assets/.DS_Store
resources/views/.DS_Store
storage/.DS_Store
storage/framework/.DS_Store
/nbproject/private/