table {
	thead {
		// @extend .background-darkgray;
		// @extend .text-white;
		@extend .h5;
		border-top: 2px solid $darkgray;
		border-bottom: 2px solid $darkgray;
	}
	th, td {
		@extend .padding-10;
		@extend .text-center;
	}
	tr:nth-child(2n) { @extend .background-platinum; }

}

.table-data {
	@extend .display-table;
	.data-set {
		@extend .display-table-row;
		& > * {
			@extend .display-table-cell;
			@extend .padding-5;
		}
		.label {
			@extend .text-right;
			@extend .text-ash;
			vertical-align: middle;
			font-size: 0.8em;
		}
	}
}