// OLX Variables


//Colors
$bg: $white;
$neutral: $darkgray;
$subtle: $platinum;
$error: $red;
$alert: $blue;
$success: $green;
$warning: $orange;

//Fonts
$headercopy: 'Montserrat', Helvetica, Arial, sans-serif;
$bodycopy: 'Open Sans', Helvetica, Arial, sans-serif;