// OLX UI Colors
// Changes here will affect _variables.scss

$blue: 		#0076be;
$orange: 	#ed7612;
$green: 	#aab20a;
$purple: 	#86277f;
$yellow: 	#f2b520;
$red: 		#d51f36;

$white: 	#fff;
$platinum: 	#e7e7e7;
$ash: 		#aaa;
$darkgray: 	#333333;