// Molecules

// Card

.card {
	@extend .float-left;
	&.borderless .card-container { border: none; }
	.card-container {
		@extend .margin-10;
		@extend .overflow-hidden;
		border: 1px solid $subtle;
	}
	.card-header {
		@extend .padding-10;
		@extend .background-neutral;
		@extend .text-white;
	}
	.card-body, .card-actions {
		@extend .padding-10;
		width: 100%;
	}
	img { width: 100%; }
}

.card-body.item {
	.item-name, .item-price { @extend .margin-bottom-20; }
	// .item-price { @extend .text-red; }
	.item-details {
		@extend .text-ash;
		border-top: 1px solid $subtle;
		& > * { @extend .display-block; }
	}
}

.search-bar {
	@extend .border-radius;
	@extend .background-green;
	@extend .padding-10;
	input {
		border: none;
		font-size: 1.25em;
		width: 75%;
		&:focus { box-shadow: none; }
	}
	.search-field {
		@extend .border-radius;
		@extend .background-white;
		& > * {
			@extend .display-inline-block;
			@extend .valign-middle;
		}
		.dropdown {
			@extend .float-right;
			@extend .padding-top-5;
			margin-right: -15px;
		}
	}
}

.alert {
	@extend .padding-10;
	@extend .margin-10;
	@extend .background-darkgray;
	@extend .text-white;
	@extend .border-radius;
	// @extend .text-center;
	&:hover {
		background: $darkgray + 10;
		color: #ffffff;
	}
	&.hollow {
		@extend .background-white;
		@extend .text-darkgray;
		border: 1px solid $darkgray;
	}
	&.success {
		@extend .background-green;
		&:hover {
			background: $green + 10;
			color: #ffffff;
		}
		&.hollow {
			@extend .background-white;
			@extend .text-green;
			border: 1px solid $green;
		}
	}
	&.warning {
		@extend .background-orange;
		&:hover {
			background: $orange + 10;
			color: #ffffff;
		}
		&.hollow {
			@extend .background-white;
			@extend .text-orange;
			border: 1px solid $orange;
		}
	}
	&.error {
		@extend .background-red;
		&:hover {
			background: $red + 10;
			color: #ffffff;
		}
		&.hollow {
			@extend .background-white;
			@extend .text-red;
			border: 1px solid $red;
		}
	}
	.alert-icon {
		@extend .float-left;
		@extend .margin-right-10;
	}
	a.alert-close {
		@extend .float-right;
		@extend .text-white;
	}
}